{% extends '_layouts/cp' %}
{% set plugin = craft.app.getModule('convergine-contentbuddy') %}
{% set crumbs = [
    { label: plugin.name, url: url('convergine-contentbuddy') },
    { label: "Settings"|t('convergine-contentbuddy'), url: url('convergine-contentbuddy/settings') },
] %}

{% set selectedSubnavItem = 'settings' %}

{% set navItems = {
    'settings-heading': { heading: "Settings"|t('convergine-contentbuddy') },
    'general': { title: "General"|t('convergine-contentbuddy') },
    'text-generation': { title: "Text Generation"|t('convergine-contentbuddy') },
    'translation': { title: "Translation"|t('convergine-contentbuddy') },
    'image-generation': { title: "Image Generation"|t('convergine-contentbuddy') },
    'fields': { title: "Fields"|t('convergine-contentbuddy') },
    'newsletter': { title: "News & Updates"|t('convergine-contentbuddy') },
} %}

{% set activeTab = craft.app.request.getSegment(3) ?? 'general' %}

{% block sidebar %}
    <nav>
        <ul>
            {% for key, element in navItems %}
                {% if element.heading is defined %}
                    <li class="heading">
                        <span>{{ element.heading }}</span>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ url('convergine-contentbuddy/settings/'~ key) }}" {{ activeTab == key ? 'class="sel"' }}>{{ element.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
